.form {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-inline: auto;
  padding: 1vh 1vw;
}

.form h2 {
  margin: 1vh auto;
}

.form input, .form textarea {
  margin-block: 1vh;
  padding: 1vh .5vw;
  border: 1px solid #000000;
  border-radius: 5px;
  font-size: 14px;
}

.form textarea {
  resize: vertical;
}

.form .checkbox_input {
  display: flex;
  flex-direction: row;
  padding: .5vh;
  font-size: 14px;
}

.form .checkbox_input input {
  margin-right: .5vw;
}

.form fieldset {
  border: 1px solid #000000;
  border-radius: 5px;
  padding: 1vh .5vh;
}

.form fieldset legend {
  font-size: 14px;
  margin-left: .5vw;
}

.form fieldset div {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 14px;
  padding-block: .2vh;
  margin-block: .2vh;
}

.form fieldset div input {
  margin-right: .5vw;
  scale: .7;
}

.form .select {
  display: flex;
  flex-direction: column;
  padding-block: 1vh;
  margin-block: 1vh;
  font-size: 14px;
}

.form .select label {
  margin-bottom: .5vh;
}

.form button {
  border: none;
  border-radius: 5px;
  background-color: #AAA;
  color: #fff;
  margin-block: 2vh;
  padding: 1vh 1vw;
  font-size: 14px;
}

@media screen and (max-width: 1024px) {
  .form {
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  .form {
    width: 80%;
  }
}

@media screen and (max-width: 425px) {
  .form {
    width: 94%;
  }
}